In [14]:
s = "Krish"

In [1]:
pwd()

'C:\\Users\\AMD\\A Python notes by ineuron'

Indexes are created from forward direction and backward direction

In [15]:
type(s)

str

In [16]:
s[0]

'K'

In [17]:
s[1]

'r'

In [18]:
s[-1]

'h'

In [19]:
s[-2]

's'

In [29]:
a = "my name is krishna"

In [30]:
a[-1]

'a'

In [31]:
a[0]

'm'

In [32]:
a[100]  # we dont have data so we get error

IndexError: string index out of range

In [33]:
a  # here space is also considered as variable like letter

'my name is krishna'

In [34]:
a[0:10]

'my name is'

In [35]:
b = "Krishna_murali"      # indexing will start from 0

In [36]:
b[0:3]

'Kri'

In [37]:
b[0:300]            # in case of range it will not give error

'Krishna_murali'

In [38]:
b[300]           # in case of individual letter or variable if it is not there then it will give error

IndexError: string index out of range

In [39]:
b[-100]

IndexError: string index out of range

In [41]:
b[-1:-4]  # here we need to assign -1 for jumping as default is +1

''

In [42]:
b[-1:-4:-1]

'ila'

In [43]:
b[0:4]

'Kris'

In [44]:
a = "kumar"

In [45]:
a[0:300:1]

'kumar'

In [55]:
a[0:300:3]      # jumping 3 letters

'ka'

In [56]:
a[0:100:-1]       # it is traveling in negative direction

''

this is empty because of conflict of direction, because by default jumping is positive one
for negative we should mention jumping is -1 or which ever value you want to mention use - before value

In [57]:
a[-1:-4] # this is empty because of conflict of direction, because by default jumping is positive one

''

In [58]:
a[-1:-4:-1]

'ram'

In [59]:
a[0:-10:-1]         # here scales is having problem

'k'

In [60]:
a

'kumar'

In [61]:
a[::]    # this represents all

'kumar'

In [62]:
a[:8]        # machine will take by degault starting point

'kumar'

In [64]:
a[-2:]

'ar'

In [65]:
a[-2:-1]

'a'

In [68]:
a[::-1]     # reverse

'ramuk'

In [69]:
a[-1::-1]

'ramuk'

In [83]:
a = "i am working with krishna"

In [84]:
a[::-1] # reverse order

'anhsirk htiw gnikrow ma i'

In [85]:
a[-5:5]  # here we are going opposite direction so we dont get any answer

''

In [86]:
a[-5:5:-1]    # here we are going in the correct direction as uisng -1 for jumping

'irk htiw gnikro'

In [87]:
a[-2:-10:-1] # this is called string slicing

'nhsirk h'

In [88]:
a[0:100:3]

'imoi tksa'

In [93]:
"Krish"*3

'KrishKrishKrish'

In [94]:
"krish" + "murali"

'krishmurali'

In [95]:
a

'i am working with krishna'

In [97]:
len(a)

25

In [98]:
a

'i am working with krishna'

In [99]:
a.find('a')  # finding inedex using find function
             # using shift + tab we get details of fuction

2

In [100]:
a.find('ia')   # if we cant find that value it will give -1

-1

In [101]:
a.find('in')   # find will find 1st index of value searched

9

In [102]:
a.count('i')

4

In [103]:
a.count('x')

0

In [104]:
a

'i am working with krishna'

In [113]:
l = a.split()

In [114]:
l

['i', 'am', 'working', 'with', 'krishna']

In [115]:
l[-1:-10:-1]

['krishna', 'with', 'working', 'am', 'i']

In [116]:
l[0]

'i'

In [117]:
l[1]

'am'

In [118]:
l[2]

'working'

In [119]:
l[0:3]

['i', 'am', 'working']

In [120]:
a.split('wo')

['i am ', 'rking with krishna']

In [124]:
a.upper()

'I AM WORKING WITH KRISHNA'

In [128]:
s = "KriShNA"

In [129]:
s.swapcase()                  # this will swap lower to upper or upper to lowercase

'kRIsHna'

In [130]:
s.title()

'Krishna'

In [131]:
s.capitalize()   # title and capitalize give almost same thing, first letter will be capital

'Krishna'

In [133]:
b = "krishna"
c = "murali"

In [134]:
b.join(c)       # for everyletter in b it wiil add a

'mkrishnaukrishnarkrishnaakrishnalkrishnai'

In [136]:
" ".join("krishna")

'k r i s h n a'

In [138]:
for i in reversed("krishna"):
    print(i)

a
n
h
s
i
r
k

In [148]:
s= "   krishna   "
s[::-1]

'   anhsirk   '

In [149]:
s.rstrip()  # remove spalce from right side

'   krishna'

In [150]:
s.lstrip()    # removed space form left side

'krishna   '

In [151]:
s.strip() # remove space from both sides

'krishna'

In [154]:
s = "krish"

In [156]:
s.replace("i" , "xyz")

'krxyzsh'

In [157]:
"krish\tmurali".expandtabs()         # this will increase space between two words

'krish   murali'

In [159]:
s= "krish"

In [160]:
s.center(40 , '#')

'#################krish##################'

In [162]:
b="      indians are the best in the world"
b.strip()

'indians are the best in the world'

In [163]:
s = "KRISH"

In [164]:
s.isupper()

True

In [165]:
s.islower()

False

In [166]:
s= "     "

In [167]:
s.isspace()

True

In [168]:
s = "43543"

In [169]:
s.isdigit()

True

In [176]:
s = "krish"

In [177]:
s.endswith('x')

False

In [178]:
s.startswith('s')

False

In [179]:
s.istitle()

False

In [180]:
s.encode()

b'krish'

In [183]:
s = "sdfsaf dsaf safasdf asdfsadfdas fadf dfa fadfa dsaf adfsa"

In [184]:
l = ["murali" , "krishna" , 3543 , 4+6j , True , 345.56]

In [185]:
type(l)

list

In [186]:
l[0]

'murali'

In [187]:
l[-1]

345.56

In [188]:
l[-5]

'krishna'

In [189]:
l

['murali', 'krishna', 3543, (4+6j), True, 345.56]

In [190]:
l[0:4]

['murali', 'krishna', 3543, (4+6j)]

In [191]:
l[::-1]

[345.56, True, (4+6j), 3543, 'krishna', 'murali']

In [192]:
l[-1:6]

[345.56]

In [193]:
type(l[0])

str

In [194]:
type(l[4])

bool

In [195]:
l[0][1]

'u'

In [196]:
l[3].real

4.0

In [197]:
l[3].imag

6.0

In [218]:
l1 = ["murali" , "krishna" , 4356]
l2 = ["xyz" , "pqr" , 546.567]

In [219]:
l1+l2

['murali', 'krishna', 4356, 'xyz', 'pqr', 546.567]

In [220]:
l1 + "krish"    # this will not work as variable l1 is list and krish is string 
                # convert string into list, it will work

TypeError: can only concatenate list (not "str") to list

In [221]:
l1 + ["krish"]     # we can add to the list like this

['murali', 'krishna', 4356, 'krish']

In [222]:
l1*2

['murali', 'krishna', 4356, 'murali', 'krishna', 4356]

In [223]:
l1

['murali', 'krishna', 4356]

In [224]:
l1[0] =4356455634564

In [225]:
l1

[4356455634564, 'krishna', 4356]

In [226]:
l1[1]

'krishna'

In [227]:
l1[1][0]="h" # string element cant be changed but list elements will be changed

TypeError: 'str' object does not support item assignment

List is mutable
string is immutable

In [228]:
s = "krish"

In [229]:
s[0] = "k"

TypeError: 'str' object does not support item assignment

In [234]:
l1

[4356455634564, 'krishna', 4356]

In [235]:
l[1] = "krishna"

In [236]:
s.replace('s','v')

'krivh'

In [237]:
s

'krish'

In [238]:
s[0] = 'v'

TypeError: 'str' object does not support item assignment

In [239]:
l1

[4356455634564, 'krishna', 4356]

In [240]:
len(l1)

3

In [241]:
 4356 in l1

True

In [242]:
l = ['okay','kumar', 78,45,789,5.5,True, 5+8j]
l[-1:6:-1]

[(5+8j)]

In [243]:
l2

['xyz', 'pqr', 546.567]

In [245]:
l2.append("krish")  # to add data append is used

In [246]:
l2

['xyz', 'pqr', 546.567, 'krish', 'krish']

In [247]:
l2.pop()     # pop will remove element by defualt last one

'krish'

In [248]:
l2.pop(3)  # we can remove in between also

'krish'

In [249]:
l2.pop(2)

546.567

In [250]:
l2

['xyz', 'pqr']

In [252]:
l2.append(345435)  # append will always insert at last

In [253]:
l2

['xyz', 'pqr', 345435]

In [254]:
l2.insert(1,"dsgadfgda")  # if we want to append first or between, we can do that using insert

In [255]:
l2

['xyz', 'dsgadfgda', 'pqr', 345435]

In [256]:
l2.insert(3,[34,45,56,576,67])

In [257]:
l2

['xyz', 'dsgadfgda', 'pqr', [34, 45, 56, 576, 67], 345435]

In [258]:
l2

['xyz', 'dsgadfgda', 'pqr', [34, 45, 56, 576, 67], 345435]

In [259]:
l2[::-1]

[345435, [34, 45, 56, 576, 67], 'pqr', 'dsgadfgda', 'xyz']

In [260]:
l2.reverse()     # to reverse whole code we use reverse

In [261]:
l2

[345435, [34, 45, 56, 576, 67], 'pqr', 'dsgadfgda', 'xyz']

In [262]:
l1

[4356455634564, 'krishna', 4356]

In [263]:
l2

[345435, [34, 45, 56, 576, 67], 'pqr', 'dsgadfgda', 'xyz']

In [264]:
l2[1][2]

56

In [265]:
l2[1][2]

56

In [266]:
l2

[345435, [34, 45, 56, 576, 67], 'pqr', 'dsgadfgda', 'xyz']

In [267]:
l2.count('xfddsfsfyz')

0

In [268]:
l2.append("dssafasf")

In [269]:
l2

[345435, [34, 45, 56, 576, 67], 'pqr', 'dsgadfgda', 'xyz', 'dssafasf']

In [270]:
l2.append([3,4,54,6])

In [271]:
l2

[345435,
 [34, 45, 56, 576, 67],
 'pqr',
 'dsgadfgda',
 'xyz',
 'dssafasf',
 [3, 4, 54, 6]]

In [273]:
l1

[4356455634564, 'krishna', 4356]

In [274]:
l1.extend([2,54,656, "sdfs"]) # extend will add like another elements 
                               # but append will create another list inside a list

In [275]:
l1

[4356455634564, 'krishna', 4356, 2, 54, 656, 'sdfs']

In [276]:
print(l2.reverse())

None

In [278]:
l1=[43,4343]
l1+list('krish')
l1+['krish']

[43, 4343, 'krish']

In [281]:
list("krish")

['k', 'r', 'i', 's', 'h']

In [282]:
s.endswith("")

True

In [283]:
s

'krish'

In [285]:
l = ["krish " , 345,4354353,4353]

In [289]:
l.append("murali")

In [290]:
l

['krish ', 345, 4354353, 4353, 'kumar', [2, 3, 4, 5, 6], 'murali']

In [294]:
l.append([2,3,4,5,6])

In [295]:
l

['krish ',
 345,
 4354353,
 4353,
 'kumar',
 [2, 3, 4, 5, 6],
 'murali',
 [2, 3, 4, 5, 6],
 1,
 2,
 3,
 4,
 [2, 3, 4, 5, 6]]

In [296]:
l.extend([1,2,3,4])

In [297]:
l

['krish ',
 345,
 4354353,
 4353,
 'kumar',
 [2, 3, 4, 5, 6],
 'murali',
 [2, 3, 4, 5, 6],
 1,
 2,
 3,
 4,
 [2, 3, 4, 5, 6],
 1,
 2,
 3,
 4]

In [298]:
[2,3,4,4,5,76]  + [4,5,6,77]

[2, 3, 4, 4, 5, 76, 4, 5, 6, 77]

In [299]:
"fdsaffsafsafd afsa saf asdfa sdsaf afsad ".split('&')

['fdsaffsafsafd afsa saf asdfa sdsaf afsad ']

In [300]:
3 +4j

(3+4j)

In [301]:
L=['sudh', 'kumar', 3543, 4+6j, True, 345.6]
L[-1:6]

[345.6]

In [302]:
"dfdasfasfda\tsafasf\t\tfadsfsafdsaf\t".expandtabs()

'dfdasfasfda     safasf          fadsfsafdsaf    '

In [307]:
a = "I am working in krishna"

In [310]:
a[0:-10:-1]                 # blank

''

In [311]:
a[0:-100:-1]                 # here i why

'I'

In [312]:
a[0::-1]

'I'

In [314]:
l2=['prweu', 5345]
l3=l2

In [315]:
l2

['prweu', 5345]

In [316]:
l3

['prweu', 5345]

In [317]:
l3 = [4,5,6,7,7]

In [318]:
l3[0] = "dsfdsafsa"

In [320]:
l3[0] = "krish"

In [321]:
l3

['krish', 5, 6, 7, 7]

In [322]:
l2

['prweu', 5345]

In [339]:
l = [4,5,6,6]

In [331]:
l.insert(-1,45)

In [332]:
l

[4, 5, 6, 45, 6]

In [333]:
l.insert(3,"krish")

In [334]:
l

[4, 5, 6, 'krish', 45, 6]

In [335]:
type(l[3])

str