In [1]:
t = (1,2,3,4,5)

In [2]:
type(t)

tuple

In [3]:
t1 = ("sudh" , 345 , 45+78j , 546.56 ,True)

In [4]:
 l = ["sudh" , 345 , 45+78j , 546.56 ,True]

In [5]:
type(t1)

tuple

In [6]:
type(l)

list

In [7]:
t2 = ()

In [8]:
type(t2)

tuple

In [9]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [10]:
l

['sudh', 345, (45+78j), 546.56, True]

In [11]:
l[0:2]

['sudh', 345]

In [12]:
t1[0:2]

('sudh', 345)

In [13]:
t1[::-1]

(True, 546.56, (45+78j), 345, 'sudh')

In [14]:
t1[-1]       # slicing concept is same in case of list and tuple

True

In [15]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [16]:
t1[0::2]

('sudh', (45+78j), True)

In [17]:
l

['sudh', 345, (45+78j), 546.56, True]

In [18]:
l1 = [4,5,6,7]

In [19]:
l[0] = "kumar"

In [20]:
l

['kumar', 345, (45+78j), 546.56, True]

In [23]:
t1

('sudh', 345, (45+78j), 546.56, True)


in tuple we cant change values of elements, tuples are immutable

In [24]:
t1[0] = "xyz"

TypeError: 'tuple' object does not support item assignment

In [25]:
s = "sudh"

In [28]:
s[0] = 45       # but we can use replace to change the string

TypeError: 'str' object does not support item assignment

In [29]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [30]:
t2 = (34,56,56,56,5,656)

In [31]:
t1+t2               # two tuples can be concatinated

('sudh', 345, (45+78j), 546.56, True, 34, 56, 56, 56, 5, 656)

In [32]:
l

['kumar', 345, (45+78j), 546.56, True]

In [33]:
l1

[4, 5, 6, 7]

In [34]:
l+l1

['kumar', 345, (45+78j), 546.56, True, 4, 5, 6, 7]

In [35]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [36]:
t1*2

('sudh', 345, (45+78j), 546.56, True, 'sudh', 345, (45+78j), 546.56, True)

In [37]:
t1                          # tuples have only two fuctions count and index

('sudh', 345, (45+78j), 546.56, True)

In [38]:
t1.count("sudh")

1

In [39]:
t1.index("sudh")

0

Tuples cant be change so, it is used in some case like for example google dont want us to change gmail id

In [40]:
l

['kumar', 345, (45+78j), 546.56, True]

In [41]:
l

['kumar', 345, (45+78j), 546.56, True]

In [42]:
t = (45,54,54,5, (4,5,6) , ("sudh"))   # nested tuple will work

In [43]:
t

(45, 54, 54, 5, (4, 5, 6), 'sudh')

tuples cant be changed but if we have list inside tuple, we can change element inside list

In [44]:
t1 = ([3,4,54,6]  , ("sd" , 435,56) , "ushd")

In [45]:
t1[0][2] = "sudh"

In [49]:
t1

(53, 54, 45, 4, 5, 4, 54)

In [50]:
t1[0] = "sdfsaf"            # this is element of tuple, so it cant be changed

TypeError: 'tuple' object does not support item assignment

In [52]:
t1 = (53,54,45,4,5,4,54)

In [53]:
l  = list(t1)

In [54]:
l

[53, 54, 45, 4, 5, 4, 54]

In [55]:
tuple(l)

(53, 54, 45, 4, 5, 4, 54)

In [56]:
l = [1,2,3,4,5,6,76,5,5,5,5,5,5,5,2,3,4,5,6,1,2,3]

In [57]:
set(l)    # to remove duplicate elements from above list, we can use set

{1, 2, 3, 4, 5, 6, 76}

In [58]:
s = {}             # only unique elements in set

In [62]:
type(s)      # empty set is dictionary,
             # but if we have values it is considered as set

dict

In [63]:
s1 = {2,3,4}

In [64]:
type(s1)

set

In [65]:
s2={1,1,1,1,1,1,2,3,4,54,4,3,3,2,54}

In [66]:
s2

{1, 2, 3, 4, 54}

In [67]:
s2[0]               # no indexs in sets

TypeError: 'set' object is not subscriptable

In [68]:
list(s2)

[1, 2, 3, 4, 54]

In [69]:
s2

{1, 2, 3, 4, 54}

In [73]:
s2.add(89777)         # we can use add in sets and append in case of sting and list

In [74]:
s2

{1, 2, 3, 4, 54, 89777}

In [75]:
s2.add("sudh")

In [76]:
s2

{1, 2, 3, 4, 54, 89777, 'sudh'}

In [77]:
s2.add([3,4,5,6])    # list is not allowed in sets but tuple is allowed
                     # because list can be changed but not tuple

TypeError: unhashable type: 'list'

In [79]:
{[3,4,5,6] ,3,4,5,3,4,5}

TypeError: unhashable type: 'list'

In [80]:
s = {(3,4,5,6) ,(3,4,5,6) ,3,4,5,3,4,5}

In [81]:
s

{(3, 4, 5, 6), 3, 4, 5}

In [82]:
s

{(3, 4, 5, 6), 3, 4, 5}

In [83]:
s.remove(4)          # add and remove will work

In [84]:
s

{(3, 4, 5, 6), 3, 5}

remove will give error if we cant find element, but discard will-not give error if we cant find element

In [86]:
s.discard(5)

In [89]:
s

{(3, 4, 5, 6), 3}

In [90]:
s.remove(45)

KeyError: 45

In [93]:
s.discard(45)                  # this will not give error

In [94]:
{"sudh" ,"Sudh"}               # set is case sensitive

{'Sudh', 'sudh'}

In [95]:
s = {4,5,6,7,78 , 3,4,5,3,4,5 , "sudh" , "sudh"}

In [96]:
s

{3, 4, 5, 6, 7, 78, 'sudh'}

In [97]:
l = [3,4,5,6]

In [98]:
set(l)

{3, 4, 5, 6}

In [99]:
d = {3,4}

In [100]:
type(d)

set

In [101]:
d = {4:"sudh"}

In [102]:
# keys can be duplicated but latest value of key is taken into consideration

In [103]:
d1 = {"key1" : 5445 , "key2" :"sudh" , "key1" : [3,4,5,6]}

In [104]:
l = [3,4,5,6,7]

In [105]:
d1

{'key1': [3, 4, 5, 6], 'key2': 'sudh'}

In [106]:
l[0]

3

In [107]:
d1['key1']

[3, 4, 5, 6]

In [108]:
d1["key2"]

'sudh'

In [109]:
d = {"KEY":{3,4,5,6}}

In [110]:
d1 = {"key1" : [2,3,4,5]  , "key2":[2,3,4,5], "kumar" :45}

In [111]:
d1['key1']

[2, 3, 4, 5]

In [112]:
d1['kumar']

45

In [115]:
d3= {"*+++":"venu"}

In [116]:
d = {'name' : "sudhanshu" , "mo_no" :3454354353 , "mail_id" :"sudhanshu@xyz.com",'key1':[4,5,6,7] , "key2" :(3,4,5,6),"key3" : {3,4,5,4,3,3,3,3,3,3,3},'key4':{1:5,4:6}}

In [117]:
d

{'name': 'sudhanshu',
 'mo_no': 3454354353,
 'mail_id': 'sudhanshu@xyz.com',
 'key1': [4, 5, 6, 7],
 'key2': (3, 4, 5, 6),
 'key3': {3, 4, 5},
 'key4': {1: 5, 4: 6}}

In [119]:
type(d['key3'])

set

In [120]:
d['key4'][4]

6

In [122]:
d

{'name': 'sudhanshu',
 'mo_no': 3454354353,
 'mail_id': 'sudhanshu@xyz.com',
 'key1': [4, 5, 6, 7],
 'key2': (3, 4, 5, 6),
 'key3': {3, 4, 5},
 'key4': {1: 5, 4: 6}}

In [123]:
d.keys()

dict_keys(['name', 'mo_no', 'mail_id', 'key1', 'key2', 'key3', 'key4'])

In [124]:
d.values()

dict_values(['sudhanshu', 3454354353, 'sudhanshu@xyz.com', [4, 5, 6, 7], (3, 4, 5, 6), {3, 4, 5}, {1: 5, 4: 6}])

In [125]:
type(d.items())

dict_items

In [126]:
d = {'key1' : "sudh" , "key2" : [1,2,3,4]}

In [127]:
d

{'key1': 'sudh', 'key2': [1, 2, 3, 4]}

In [128]:
d["key3"]  = "kumar"

In [130]:
d

{'key1': 'sudh', 'key2': [1, 2, 3, 4], 'key3': 'kumar'}

In [134]:
d[4] = [2,4,4,4,5,4]      # we can add key and values like this
                          # we can use looping of range or keys and values for inserting in dict

In [135]:
d

{'key1': 'sudh', 'key2': [1, 2, 3, 4], 'key3': 'kumar', 4: [2, 4, 4, 4, 5, 4]}

we cant change the name of the key, we can delete key

In [136]:
d['key1'] = "fsafsadfads"

In [137]:
d

{'key1': 'fsafsadfads',
 'key2': [1, 2, 3, 4],
 'key3': 'kumar',
 4: [2, 4, 4, 4, 5, 4]}

In [138]:
del d['key1']

In [139]:
d

{'key2': [1, 2, 3, 4], 'key3': 'kumar', 4: [2, 4, 4, 4, 5, 4]}

In [140]:
del d   # we can delete dictionary

In [141]:
d

NameError: name 'd' is not defined

In [142]:
d1 = {'key1' : "sudh" , 'key2' : [4,5,6,7,8]}

In [143]:
d1[[1,2,3]] = "ineuron"     # list as key will not work

TypeError: unhashable type: 'list'

In [144]:
d1[(1,2,3)] = "ineuron"         # tuple will work because it is immutable

In [145]:
d1

{'key1': 'sudh', 'key2': [4, 5, 6, 7, 8], (1, 2, 3): 'ineuron'}

In [146]:
d1

{'key1': 'sudh', 'key2': [4, 5, 6, 7, 8], (1, 2, 3): 'ineuron'}

In [147]:
d1.get("key1")

'sudh'

In [149]:
d1 = {'key1' : "ineruon" , "key"  : "FSDS"}

In [150]:
d2 = {"key2":456 , "key3" :[1,2,3,4,5]}

In [151]:
d1.update(d2)

In [152]:
d1

{'key1': 'ineruon', 'key': 'FSDS', 'key2': 456, 'key3': [1, 2, 3, 4, 5]}

In [153]:
d2

{'key2': 456, 'key3': [1, 2, 3, 4, 5]}

In [156]:
d1+d2           # we cant add two dictionaries using +, we can use update

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [158]:
d1.update(d2)

In [159]:
l=[1,23,4,5]
l.append(l)

In [162]:
l           # it is like looping, inside loop, inside another loop, inside another loop

[1, 23, 4, 5, [...]]

In [163]:
l[4][4]

[1, 23, 4, 5, [...]]

In [165]:
t1 = ("aditya",1,1+2j,3.4,True)
t1.index(True)              # here True is saved as 1, so 1 index is returning

1

In [166]:
d1

{'key1': 'ineruon', 'key': 'FSDS', 'key2': 456, 'key3': [1, 2, 3, 4, 5]}

In [175]:
d1

{'key1': 'ineruon', 'key': 'FSDS', 'key2': 456, 'key3': [1, 2, 3, 4, 5]}

In [176]:
d2

{'key2': 456, 'key3': [1, 2, 3, 4, 5]}

In [177]:
d1["key1"]

'ineruon'

In [178]:
d1.get("key1")

'ineruon'

In [182]:
d1['key1fdsf']       # here error

KeyError: 'key1fdsf'

In [183]:
d1.get('key1fdsf')   # here  no error

In [184]:
d1

{'key1': 'ineruon', 'key': 'FSDS', 'key2': 456, 'key3': [1, 2, 3, 4, 5]}

In [189]:
key= ("name" , "mobile_no" , "email_id")
value = ("sudh" , "fdsf" ,"dsf")

In [190]:
d = d1.fromkeys(key,value)      ## creating new dictionary using two tuples,
                                ## we can use it create dict

In [194]:
d

{'name': ('sudh', 'fdsf', 'dsf'),
 'mobile_no': ('sudh', 'fdsf', 'dsf'),
 'email_id': ('sudh', 'fdsf', 'dsf')}

In [195]:
t1=(1,2,3,4,'dfs',True)
t1.index(True)

0

In [200]:
{[3,4,5,6] , 4,5,5,6,7}        # we cant use list inside set

TypeError: unhashable type: 'list'

In [202]:
d1={_4:[1,2,3],"key":"sudg", "key1":5}

NameError: name '_4' is not defined

In [204]:
l=[1,2,3,4,5]
l[0::-1]

[1]

In [211]:
t1 = (1,2,3,4,5)
type(t1)

tuple

In [212]:
t1 = (1)

In [213]:
type(t1)

int

In [214]:
t = ([1,2,3,4,54] , "dfsf" , 234)

In [215]:
t[0]

[1, 2, 3, 4, 54]

In [216]:
t[0][1]  = "dfsfs"

In [217]:
t

([1, 'dfsfs', 3, 4, 54], 'dfsf', 234)

In [218]:
s = {45,343,5454,545,565,65,65,6,56,56,5,343534,566,5,65,6,5,4353543,4,556}

In [219]:
s

{4, 5, 6, 45, 56, 65, 343, 545, 556, 565, 566, 5454, 343534, 4353543}

In [222]:
i = 0 
j = 3
for i, j in range(i,j) :

IndentationError: expected an indented block (1060927191.py, line 4)

In [223]:
i = 10 
j = 6

In [224]:
i

10

In [225]:
j

6

In [229]:
 i,j = 10,6          #

In [230]:
i

10

In [231]:
j

6

In [232]:
i = 4,5

In [233]:
i

(4, 5)

In [236]:
d1 *2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [237]:
d3={"key1":"ineuron","key2":"fsds"}
d4={"key1":456,"key2":[1,2,3,4]}
d3.update(d4)

In [238]:
d3

{'key1': 456, 'key2': [1, 2, 3, 4]}

In [239]:
l=[1,2,3,4,5]
l[0::-1]

[1]

In [240]:
d = {'key1' :"fdsf" , "key2" :"fdsf" , "key1" :2354}

In [241]:
d.keys()

dict_keys(['key1', 'key2'])

In [242]:
t = (1,2,3,4,1,True)

In [243]:
t.count(1)

3

In [244]:
t[5]

True

In [245]:
list({'a':1, 'b':2})

['a', 'b']

In [249]:
k={'a':1, 'b':2}

In [252]:
k.keys()

dict_keys(['a', 'b'])

In [253]:
list(k.keys())

['a', 'b']

In [254]:
list(k.values())

[1, 2]